worker_processes  1;
daemon off;

error_log  stderr warn;
pid        {{ .Config.WorkingDir }}/nginx.pid;

events {
    worker_connections  1024;
}

http {
    default_type text/html;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';

    sendfile           on;
    keepalive_timeout  65;

    # Put all data into the working directory
    access_log             {{ .Config.WorkingDir }}/access.log main gzip;
    client_body_temp_path  {{ .Config.WorkingDir }}/tmp_client_body 1 2;
    proxy_temp_path        {{ .Config.WorkingDir }}/tmp_proxy 1 2;
    fastcgi_temp_path      {{ .Config.WorkingDir }}/tmp_fastcgi 1 2;
    uwsgi_temp_path        {{ .Config.WorkingDir }}/tmp_uwsgi 1 2;
    scgi_temp_path         {{ .Config.WorkingDir }}/tmp_scgi 1 2;

    # Configure ingresses
    {{ $port := .Config.Port }}
    {{ range $entry := .Entries }}
    # Start entry
    server {
        listen {{ $port }};
        server_name {{ $entry.Host }};
        location {{ $entry.Path }} {
            proxy_pass http://{{ $entry.ServiceName }}:{{ $entry.ServicePort }};
        }
    }
    # End entry
    {{ end }}

    # Default server for health checks
    server {
        listen {{ .Config.Port }} default_server;
            location /health {
             access_log off;
             return 200;
        }

        location / {
            return 404;
        }
    }
}
